.App {
  text-align: center;
}

nav {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: black;
  color: whitesmoke;
}
